body {
	background-color: #425780 ;margin: 0;
	background-image: url('header.gif');
}

a, a:link, a:active, a:visited {color: #FFFFFF; text-decoration:none}
a:hover      {color: #FF9C12; text-decoration: none}

form {margin: 0px}

td {
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	font-family: Tahoma;
}

input, select {
	font-family: Tahoma; 
	font-weight: normal;
	font-size: 11px;
	height: 18px;
	border: 1px solid #01619F;
	background-image: url('bg.gif');
}




